* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: none; */
    font-family: "Roboto Slab";
    color: white; 
}

.more-splash {
            animation-name: splash;
    -webkit-animation-name: splash;
            animation-duration: 1.7s;
    -webkit-animation-duration: 1.7s;
}

@-webkit-keyframes splash {
    from {
      box-shadow: 0 0 10px #c78030;
    }
    to {
      box-shadow: 0 0 60px #c78030;
    }
  }
  @keyframes splash {
    from {
      box-shadow: 0 0 10px #c78030;
    }
    to {
      box-shadow: 0 0 60px #c78030;
    }
  }

a {
    text-decoration: none;
    color: inherit;
}

a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}



/* header */

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

header ul {
    width: 50%;
    margin-left: 25%;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
        -webkit-justify-content: space-between;
        -ms-flex-pack: distribute;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    list-style-type: none;
    font-size: calc(10px + 3 * (100vw / 1280));
}

header ul li{
    color: white;
}

header ul li:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 4px;
    background-color: #c78030;
}

header ul li:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 4px;
    background-color: #c78030;
}


/* first screen */

.first-screen {
    width: 100%;
    height: 650px;
    background: url(./img/bg.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-block {
    min-width: 400px;
    width: 40%;
    min-height: 200px;
    height: 45%;
    border: 6px solid #c78030;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    /* margin-top: 180px; */
}

.first-block-link {
    color: #fff;
    font-size: calc(11px + 8 * (100vw / 1280));
    font-weight: bold;
}

.first-block-link:after {
    content: '';
    display: block;
    width: 10%;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2px;
}

.first-block-title {
    color: #fff;
    text-transform: uppercase;
    font-size: calc(26px + 8 * (100vw / 1280));
    margin-top: 35px;
}

.first-block-descript {
    color: #c78030;
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(11px + 8 * (100vw / 1280));
    margin-top: 35px;
}



/* second screen */

.second-screen {
    width: 100%;
    min-height: 3200px;
    background: url(./img/main_bg.jpg) center;
    background-position: 50% 30%;
}

.second-block {
    width: 60%;
    min-width: 300px;
    min-height: 580px;
    background-color: #373737;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    padding: 50px;
    margin: 0 auto;
}

.second-block .show {
    display: flex;
}

.second-block .hide {
    display: none;
}

.second-block .header-names {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.second-block-names {
    color: #c78030;
    font-weight: bold;
    font-size: calc(10px + 10 * (100vw / 1280));
    cursor: pointer;
}

.second-block-names:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #c78030;
    margin-top: 4px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}

.second-block-names:hover:after {
    width: 60%;
}



/* programm */

.program {
    width: 100%;
    padding-top: 5%;
    display: flex;
}

.program-info,
.program .photo 
{
    width: 50%;
}

.photo {
    display: flex;
    align-items: center;
}

.photo img {
    width: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.program-title {
    font-size: calc(17px + 8 * (100vw / 1280));
    color: #c78030;
}

.program-title:after {
    content: '';
    display: block;
    width: 10%;
    height: 3px;
    background-color: #c78030;
    margin-top: 4px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}

.program-desc {
    margin-top: 30px;
    font-weight: 300;
    font-size: calc(8px + 8 * (100vw / 1280));
}

.more-button {
    width: 180px;
    height: 45px;
    line-height: 43px;
    border: 1px solid #c78030;
    color: #c78030;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

.text-button {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.more-button:hover {
    box-shadow: 0px 0px 5px #c78030;
}



/* timer */

.timer {
    margin-top: 150px;
    text-align: center;
}

.timer-title {
    font-size: calc(18px + 12 * (100vw / 1280));
    color: #c78030;
}

.timer-desc {
    font-size: calc(16px + 8 * (100vw / 1280));
    color: #fff;
    margin-top: 40px;
}

.timer-numbers {
    margin-top: 40px;
    font-size: calc(45px + 30 * (100vw / 1280));
}

.timer-numbers span {
    color: #c78030;
}

.timer-numbers:after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    background-color: #c78030;
    margin: 0 auto;
    margin-top: 4px;
}

.timer .more-button {
    margin-top: 70px;
    width: 15%;
    min-width: 150px;
    height: 100%;
    align-items: center;
    background-color: transparent;
}

.timer .more-button .text-button {
    font-weight: bold;
}



/* photos */

.photos {
    /* margin-top: 150px; */
    width: 50%;
    min-width: 300px;
    margin: 150px auto;
}

.slider .hide {
    display: none;
}

.slider .show {
    display: block;
}

.slider-photo img {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.photo-title {
    margin-left: -10%;
    font-size: 32px;
    color: #c78030;
}

.photo-title:after {
    content: '';
    display: block;
    width: 9%;
    height: 1px;
    background-color: #c78030;
    margin-top: 4px;
}

.dots {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dot {
    width: 16px;
    height: 16px;
    margin: 0 10px;
    border: 0;
    border-radius: 50%;
    background-color: #c78030;
    cursor: pointer;
    display: inline-block;
}

.dots .active {
    background-color: #000;
    height: 18px;
    width: 18px;
}

.slider {
    position: relative;
}

.prev {
    position: absolute;
    cursor: pointer;
    top: 50px;
    width: 10%;
    height: 92%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0.3s;
            transition: 0.3s;
}

.prev:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.prev:hover .arrow-left {
    opacity: 1;
}

.arrow-left {
    width: 30px;
    height: 30px;
    background: url(./icons/left-arrow.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transition: 1s;
          transition: 1s;
    opacity: 0.1;
}

.next {
    position: absolute;
    cursor: pointer;
    top: 50px;
    width: 10%;
    height: 92%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0.3s;
            transition: 0.3s;
}

.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.next:hover .arrow-right {
    opacity: 1;
}

.arrow-right {
    width: 30px;
    height: 30px;
    background: url(./icons/right-arrow.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 25%;
    -webkit-transition: 1s;
          transition: 1s;
    opacity: 0.1;
}



/* price */

.counter {
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
}

.counter-title {
    font-size: calc(18px + 12 * (100vw / 1280));
    color: #c78030;
}

.counter-title::after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin-top: 4px;
    background-color: #c78030;
}

.counter-block {
    margin-top: 40px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-block-option {
    min-width: 100px;
    font-size: calc(12px + 8 * (100vw / 1280));
    color: #c78030;
}

.counter-block-input {
    display: block;
    width: 120px;
    height: 60px;
    padding: 10px;
    color: #c78030;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(199, 126, 48, 0.6);
    font-size: calc(18px + 8 * (100vw / 1280));
    text-align: center;
}

.counter-block select {
    width: 230px;
    height: 35px;
    padding-left: 10px;
    background-color: rgba(199, 126, 48, 0.8);
    border: none;
}

.counter-total {
    margin-top: 30px;
    padding-right: 50px;
    text-align: right;
    font-size: calc(20px + 8 * (100vw / 1280));
    color: #c78030;
}

.counter-total span {
    font-size: calc(24px + 8 * (100vw / 1280));
    color: #c78030;
}

.counter input[type=number]::-webkit-inner-spin-button,
.counter input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.counter input[type=number] {
    -moz-appearance: textfield;
}


/* form */

.form-block {
    width: 50%;
    min-width: 300px;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    background-color: #373737;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.form-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form-img img {
    width: 100%;
}

.contact-form {
    width: 50%;
    padding-left: 40px;
}

.form-title {
    margin-top: 30px;
    color: #c78030;
    font-size: 26px;
    font-weight: 300;
}

.form-title:after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: #c78030;
    margin-top: 4px;
}

form input {
    display: block;
    width: 70%;
    height: 40px;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
}

form button {
    margin-top: 60px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #c78030;
    color: #c78030;
    cursor: pointer;
}

form .more-button {
    margin-top: 60px;
    width: 40%;
}



/* footer */

.footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}

.social-media {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-block {
    width: 70px;
    height: 70px;
    border: 1px solid rgba(199, 128, 48, 0.5);
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-block:hover {
    box-shadow: 0 0 10px #c78030;
}

.social-block a img {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 17px;
}



/* overlay */

.overlay {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  .overlay form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .overlay .popup {
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 150px;
    width: 40%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .overlay .popup-close {
    position: absolute;
    right: -20px;
    top: -35px;
    cursor: pointer;
    font-size: 35px;
    color: #fff;
    font-weight: 300;
  }

  .overlay .popup-title {
    display: block;
    width: 100%;
    height: 71px;
    line-height: 71px;
    margin: 0;
    background-color: #c78030;
    color: #ffffff;
    text-transform: uppercase;
    font-size: calc(11px + 8 * (100vw / 1280));
    font-weight: 500;
    text-align: center;
  }

  .overlay .popup-form {
    background: url(./img/modal.jpg) center no-repeat;
    background-size: cover;
    padding: 35px 88px 50px 88px;
    color: #fff;
  }

  .overlay .popup-form-header {
    padding: 0;
    font-weight: 400;
    line-height: 27px;
    font-size: calc(15px + 8 * (100vw / 1280));
    text-align: center;
  }

  .overlay .popup-form__label {
    display: block;
    margin-top: 23px;
    font-size: calc(10px + 8 * (100vw / 1280));
    font-weight: 300;
    text-align: center;
  }
  
  .overlay .popup-form__input {
    width: calc(112px + 120 * (100vw / 1280));
    height: calc(28px + 20 * (100vw / 1280));
    margin-top: 17px;
    font-size: calc(9px + 8 * (100vw / 1280));
    background-color: #c78030;
    border: none;
    color: #fff;
    text-align: center;
  }

  .overlay .popup-form__input::-webkit-input-placeholder {
    color: #fff;
  }

  .overlay .popup-form__input::-moz-placeholder {
    color: #fff;
  }

  .overlay .popup-form__input:-moz-placeholder {
    color: #fff;
  }

  .overlay .popup-form__input:-ms-input-placeholder {
    color: #fff;
  }

  .overlay .popup-form__input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  .overlay .popup-form__input:focus::-moz-placeholder {
    color: transparent;
  }

  .overlay .popup-form__input:focus:-moz-placeholder {
    color: transparent;
  }

  .overlay .popup-form__input:focus:-ms-input-placeholder {
    color: transparent;
  }

  .overlay .popup-form__btn {
    width: calc(90px + 90 * (100vw / 1280));
    height: calc(28px + 20 * (100vw / 1280));;
    font-size: calc(6px + 8 * (100vw / 1280));
    line-height: 22px;
    background-color: transparent;
    color: #c78030;
    border: 1px solid #c78030;
    cursor: pointer;
  }
  
  .overlay .popup-form__btn:hover {
    box-shadow: 0 0 10px #c78030;
  }