* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: none; */
    font-family: "Roboto Slab";
    color: white; 
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}



/* header */

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

header ul {
    width: 50%;
    margin-left: 25%;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
        -webkit-justify-content: space-between;
        -ms-flex-pack: distribute;
    align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    list-style-type: none;
    font-size: 15px;
}

header ul li{
    color: white;
}

header ul li:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 4px;
    background-color: #c78030;
}

header ul li:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 4px;
    background-color: #c78030;
}


/* first screen */

.first-screen {
    width: 100%;
    height: 650px;
    background: url(./img/bg.jpg) center;
    background-size: cover;
}

.first-block {
    width: 750px;
    min-height: 300px;
    border: 6px solid #c78030;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    /* margin-top: 180px; */
}

.first-block-link {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.first-block-link:after {
    content: '';
    display: block;
    width: 30%;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2px;
}

.first-block-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 52px;
    margin-top: 35px;
}

.first-block-descript {
    color: #c78030;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-top: 35px;
}



/* second screen */

.second-screen {
    width: 100%;
    min-height: 3200px;
    background: url(./img/main_bg.jpg);
    background-position: 50% 30%;
}

.second-block {
    width: 60%;
    min-height: 580px;
    background-color: #373737;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    padding: 50px;
    margin-left: 20%;
}

.second-block .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.second-block-names {
    color: #c78030;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.second-block-names:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #c78030;
    margin-top: 4px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}

.second-block-names:hover:after {
    width: 60%;
}



/* programm */

.program {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.program-title {
    font-size: 34px;
    color: #c78030;
}

.program-title:after {
    content: '';
    display: block;
    width: 20%;
    height: 3px;
    background-color: #c78030;
    margin-top: 4px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
}

.program-desc {
    width: 50%;
    margin-top: 30px;
    font-weight: 300;
}

.more-button {
    width: 180px;
    height: 45px;
    line-height: 43px;
    border: 1px solid #c78030;
    color: #c78030;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

.text-button {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.more-button:hover {
    box-shadow: 0px 0px 5px #c78030;
}

.program-desc,
.program img {
    width: 50%;
}

.photo {
    display: flex;
    align-items: center;
}

.photo img {
    width: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}



/* timer */

.timer {
    margin-top: 150px;
    text-align: center;
}

.timer-title {
    font-size: 36px;
    color: #c78030;
}

.timer-desc {
    font-size: 24px;
    color: #fff;
    margin-top: 40px;
}

.timer-numbers {
    color: #c78030;
    margin-top: 40px;
    font-size: 90px;
}

.timer-numbers:after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    background-color: #c78030;
    margin: 0 auto;
    margin-top: 4px;
}

.timer .more-button {
    align-items: center;
    background-color: transparent;
}

.timer .more-button .text-button {
    font-weight: bold;
}



/* photos */

.photos {
    margin-top: 150px;
    width: 50%;
    margin-left: 25%;
}

.slider-photo img {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.photo-title {
    font-size: 32px;
    color: #c78030;
}

.photo-title:after {
    content: '';
    display: block;
    width: 10%;
    height: 1px;
    background-color: #c78030;
    margin-top: 4px;
}

.dots {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dot {
    width: 16px;
    height: 16px;
    margin: 0 10px;
    border: 0;
    border-radius: 50%;
    background-color: #c78030;
    cursor: pointer;
    display: inline-block;
}

.dots .active {
    background-color: #000;
    height: 18px;
    width: 18px;
}

.slider .prev {
    /* position: relative; */
    cursor: pointer;
    top: 0;
    width: 90px;
    height: 100%;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
            transition: 0.3s;
}

.prev:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.prev:hover .arrow-left {
    opacity: 1;
}

.arrow-left {
    width: 30px;
    height: 30px;
    background: url(./icons/left-arrow.svg) center no-repeat;
    background-size: cover;
    /* position: relative; */
    top: 50%;
    left: 50%;
    -webkit-transition: 1s;
          transition: 1s;
}

.next {
    /* position: relative; */
    cursor: pointer;
    top: 0;
    width: 90px;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
            transition: 0.3s;
    height: 100%;
}

.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.next:hover .arrow-right {
    opacity: 1;
}

.arrow-right {
    width: 30px;
    height: 30px;
    background: url(./icons/right-arrow.svg) center no-repeat;
    background-size: cover;
    /* position: relative; */
    top: 50%;
    right: 50%;
    -webkit-transition: 1s;
          transition: 1s;
}



/* price */

.counter {
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
}

.counter-title {
    font-size: 32px;
    color: #c78030;
}

.counter-title::after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin-top: 4px;
    background-color: #c78030;
}

.counter-block {
    margin-top: 40px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-block-option {
    font-size: 22px;
    color: #c78030;
}

.counter-block-input {
    display: block;
    width: 120px;
    height: 60px;
    padding: 10px;
    color: #c78030;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(199, 126, 48, 0.6);
    font-size: 46px;
    text-align: center;
}

.counter-block select {
    width: 230px;
    height: 35px;
    padding-left: 10px;
    background-color: rgba(199, 126, 48, 0.8);
    border: none;
}

.counter-total {
    margin-top: 30px;
    padding-right: 50px;
    text-align: right;
    font-size: 38px;
    color: #c78030;
}

.counter-total span {
    font-size: 46px;
    color: #c78030;
}

.counter input[type=number]::-webkit-inner-spin-button,
.counter input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.counter input[type=number] {
    -moz-appearance: textfield;
}


/* form */

.form-block {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    background-color: #373737;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}

.form-img {
    width: 50%;
}

.form-img img {
    height: 100%;
}

.conract-form {
    width: 50%;
    padding-left: 40px;
}

.form-title {
    margin-top: 30px;
    color: #c78030;
    font-size: 26px;
    font-weight: 300;
}

.form-title:after {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: #c78030;
    margin-top: 4px;
}

form input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
}

form button {
    margin-top: 60px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #c78030;
    color: #c78030;
    cursor: pointer;
}

form .more-button {
    margin-top: 60px;
}



/* footer */

.footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}

.social-media {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.social-block {
    width: 70px;
    height: 70px;
    border: 1px solid rgba(199, 128, 48, 0.5);
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-block:hover {
    box-shadow: 0 0 10px #c78030;
}

.social-block a img {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 17px;
}